Repository mangila/spring-crud: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-test, background-test

.pre-commit-config.yaml:

# This is pre-commit git hooks that run before a git commit to ensure test is being runned
# this automation is running on my local Windows system, so it might not work if you are using linux/macOS,
# but it can be changed to use the mvnw bash script instead.

fail_fast: false
repos:
  - repo: local
    hooks:
      - id: api-test
        name: Api test
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "api/pom.xml", "clean", "test" ]
        language: system
        files: ^api/src
        require_serial: true
        pass_filenames: false
      - id: background-test
        name: Background test
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "background/pom.xml", "clean", "test" ]
        language: system
        files: ^background/src
        require_serial: true
        pass_filenames: false

server side events
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationListener.java
Due: api-test

server side events
  api/src/test/java/com/github/mangila/api/shared/OutboxPgNotificationListenerTest.java
Due: api-test

Develop (#14)
  api/src/main/java/com/github/mangila/api/config/EmployeeSseEmitters.java
  api/src/main/java/com/github/mangila/api/config/WebConfig.java
  api/src/main/java/com/github/mangila/api/controller/EmployeeController.java
  api/src/main/java/com/github/mangila/api/controller/TaskActuatorController.java
  api/src/main/java/com/github/mangila/api/model/employee/domain/EmployeeId.java
  api/src/main/java/com/github/mangila/api/repository/OutboxNextSequenceJpaRepository.java
  api/src/main/java/com/github/mangila/api/repository/OutboxProcessedSequenceJpaRepository.java
  api/src/main/java/com/github/mangila/api/scheduler/Scheduler.java
  api/src/main/java/com/github/mangila/api/service/EmployeeNotificationService.java
  api/src/main/java/com/github/mangila/api/service/EmployeeRestFacade.java
  api/src/main/java/com/github/mangila/api/shared/ApplicationTaskExecutor.java
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationListener.java
  api/src/main/java/com/github/mangila/api/shared/PgNotificationListener.java
  api/src/main/resources/application.yml
  api/src/test/java/com/github/mangila/api/service/EmployeeNotificationServiceTest.java
  api/src/test/java/com/github/mangila/api/shared/ApplicationTaskExecutorTest.java
  api/src/test/java/com/github/mangila/api/shared/OutboxPgNotificationListenerTest.java
Due: api-test

server side events
  README.md
Due: none

smart lifecycle
  api/src/main/java/com/github/mangila/api/config/EmployeeSseEmitters.java
  api/src/main/java/com/github/mangila/api/config/NotificationConfig.java
  api/src/main/java/com/github/mangila/api/config/TaskConfig.java
  api/src/main/java/com/github/mangila/api/service/EmployeeNotificationService.java
  api/src/main/java/com/github/mangila/api/shared/ApplicationTaskExecutor.java
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationListener.java
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationWatcher.java
  api/src/main/java/com/github/mangila/api/shared/PgNotificationListener.java
  api/src/main/java/com/github/mangila/api/shared/SpringEventPublisher.java
  api/src/main/resources/application.yml
  api/src/test/java/com/github/mangila/api/service/EmployeeServiceTest.java
Due: api-test

flag on notifcations
  api/src/main/java/com/github/mangila/api/config/NotificationConfig.java
  api/src/main/java/com/github/mangila/api/service/EmployeeNotificationService.java
  api/src/main/java/com/github/mangila/api/shared/ApplicationTaskExecutor.java
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationWatcher.java
  api/src/main/resources/application.yml
Due: api-test

SSE LISTEN NOTIFY (#15)
  README.md
  api/src/main/java/com/github/mangila/api/config/EmployeeSseEmitters.java
  api/src/main/java/com/github/mangila/api/config/NotificationConfig.java
  api/src/main/java/com/github/mangila/api/config/TaskConfig.java
  api/src/main/java/com/github/mangila/api/service/EmployeeNotificationService.java
  api/src/main/java/com/github/mangila/api/shared/ApplicationTaskExecutor.java
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationListener.java
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationWatcher.java
  api/src/main/java/com/github/mangila/api/shared/PgNotificationListener.java
  api/src/main/java/com/github/mangila/api/shared/SpringEventPublisher.java
  api/src/main/resources/application.yml
  api/src/test/java/com/github/mangila/api/service/EmployeeServiceTest.java
Due: api-test

test suites
  api/src/test/java/com/github/mangila/api/TestApplication.java
  api/src/test/java/com/github/mangila/api/scheduler/FetchOwaspSecureHeadersAddTaskTest.java
  api/src/test/java/com/github/mangila/api/scheduler/FetchOwaspSecureHeadersRemoveTaskTest.java
  api/src/test/java/com/github/mangila/api/scheduler/SchedulerTest.java
  api/src/test/java/com/github/mangila/api/scheduler/SoftDeleteSuccessTaskExecutionTaskTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeEventListenerTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeEventServiceTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeFactoryTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeNotificationServiceTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeRestFacadeTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeServiceTest.java
  api/src/test/java/com/github/mangila/api/service/OutboxEventHandlerTest.java
  api/src/test/java/com/github/mangila/api/service/OutboxMessageRelayTest.java
  api/src/test/java/com/github/mangila/api/shared/ApplicationTaskExecutorTest.java
  api/src/test/java/com/github/mangila/api/shared/SpringEventPublisherTest.java
Due: api-test

test suites
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationListener.java
Due: api-test

test listener
  api/src/main/java/com/github/mangila/api/scheduler/OutboxMessageRelayTask.java
  api/src/main/java/com/github/mangila/api/service/OutboxFactory.java
  api/src/test/java/com/github/mangila/api/scheduler/OutboxMessageRelayTaskTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeEventListenerTest.java
  api/src/test/java/com/github/mangila/api/service/OutboxMessageRelayTest.java
Due: api-test

testing
  api/src/main/java/com/github/mangila/api/scheduler/Scheduler.java
  api/src/test/java/com/github/mangila/api/TestApplication.java
  api/src/test/java/com/github/mangila/api/model/employee/dto/UpdateEmployeeRequestJsonTest.java
  api/src/test/java/com/github/mangila/api/scheduler/SchedulerTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeEventListenerTest.java
Due: api-test

testing
  api/src/main/java/com/github/mangila/api/config/JacksonConfig.java
  api/src/test/java/com/github/mangila/api/scheduler/FetchOwaspSecureHeadersAddTaskTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeDomainMapperTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeIdGeneratorTest.java
  api/src/test/java/com/github/mangila/api/service/OutboxFactoryTest.java
  infrastructure/local/ansible/playbook.yml
Due: api-test

Develop (#16)
  api/src/main/java/com/github/mangila/api/config/JacksonConfig.java
  api/src/main/java/com/github/mangila/api/scheduler/OutboxMessageRelayTask.java
  api/src/main/java/com/github/mangila/api/scheduler/Scheduler.java
  api/src/main/java/com/github/mangila/api/service/OutboxFactory.java
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationListener.java
  api/src/test/java/com/github/mangila/api/TestApplication.java
  api/src/test/java/com/github/mangila/api/model/employee/dto/UpdateEmployeeRequestJsonTest.java
  api/src/test/java/com/github/mangila/api/scheduler/FetchOwaspSecureHeadersAddTaskTest.java
  api/src/test/java/com/github/mangila/api/scheduler/FetchOwaspSecureHeadersRemoveTaskTest.java
  api/src/test/java/com/github/mangila/api/scheduler/OutboxMessageRelayTaskTest.java
  api/src/test/java/com/github/mangila/api/scheduler/SchedulerTest.java
  api/src/test/java/com/github/mangila/api/scheduler/SoftDeleteSuccessTaskExecutionTaskTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeDomainMapperTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeEventListenerTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeEventServiceTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeFactoryTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeIdGeneratorTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeNotificationServiceTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeRestFacadeTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeServiceTest.java
  api/src/test/java/com/github/mangila/api/service/OutboxEventHandlerTest.java
  api/src/test/java/com/github/mangila/api/service/OutboxFactoryTest.java
  api/src/test/java/com/github/mangila/api/service/OutboxMessageRelayTest.java
  api/src/test/java/com/github/mangila/api/shared/ApplicationTaskExecutorTest.java
  api/src/test/java/com/github/mangila/api/shared/SpringEventPublisherTest.java
  infrastructure/local/ansible/playbook.yml
Due: api-test

testing disabled
  api/src/main/java/com/github/mangila/api/shared/OwaspRestClient.java
  api/src/test/java/com/github/mangila/api/TestUtilTest.java
  api/src/test/java/com/github/mangila/api/model/employee/dto/EmployeeDtoJsonTest.java
  api/src/test/java/com/github/mangila/api/model/employee/dto/EmployeeEventDtoTest.java
  api/src/test/java/com/github/mangila/api/scheduler/FetchOwaspSecureHeadersAddTaskTest.java
  api/src/test/java/com/github/mangila/api/scheduler/FetchOwaspSecureHeadersRemoveTaskTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeDomainMapperTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeDtoMapperTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeEventMapperTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeNotificationServiceTest.java
  api/src/test/java/com/github/mangila/api/service/EmployeeRestFacadeTest.java
  api/src/test/java/com/github/mangila/api/shared/ApplicationTaskExecutorTest.java
  api/src/test/java/com/github/mangila/api/shared/OutboxPgNotificationListenerTest.java
  api/src/test/java/com/github/mangila/api/shared/OwaspRestClientTest.java
  api/src/test/java/com/github/mangila/api/shared/SpringEventPublisherTest.java
Due: api-test

linux migration
  .pre-commit-config.yaml
  api/src/main/java/com/github/mangila/api/config/AopConfig.java
  mvnw
Due: api-test

linux
  .pre-commit-config.yaml
  api/src/main/java/com/github/mangila/api/shared/OutboxPgNotificationWatcher.java
  infrastructure/ec2.tf
  infrastructure/local/keys/generate_ssh_keys.py
  infrastructure/local/main.tf
  infrastructure/terraform.tf
Due: api-test

only top level stuffs
  infrastructure/local/inventory.ini.tftpl
  infrastructure/local/main.tf
  infrastructure/local/playbook.yml
Due: none

tf
  infrastructure/local/inventory.ini.tftpl
  infrastructure/local/terraform.tf
  infrastructure/terraform.tf
Due: none

tf docker
  infrastructure/ec2.tf
  infrastructure/local/docker-compose.ec2.yaml
Due: none

vibe README
  api/README.md
  background/README.md
  infrastructure/README.md
  test/README.md
Due: none

README
  infrastructure/local/README.md
Due: none

ansbile
  infrastructure/local/ansible.cfg
  infrastructure/local/inventory.ini.tftpl
  infrastructure/local/main.tf
  infrastructure/local/playbook.yaml
Due: none

ansbile
  infrastructure/local/README.md
  infrastructure/local/inventory.ini.tftpl
Due: none

ansible
  infrastructure/local/playbook.yaml
Due: none

terraform templats
  api/src/main/resources/application.yml
  background/src/main/resources/application.yml
  infrastructure/local/ansible/ansible.cfg
  infrastructure/local/ansible/playbook.yaml
  infrastructure/local/docker/compose.yaml
  infrastructure/local/docker/docker-compose.ec2.yaml
  infrastructure/local/main.tf
  infrastructure/local/template/inventory.ini
  infrastructure/local/template/nginx.conf
  infrastructure/outbound.tf
Due: api-test, background-test

terraform templats
  api/src/main/resources/application.yml
  background/src/main/resources/application.yml
  infrastructure/local/ansible/docker-compose.ec2.yaml
  infrastructure/local/compose.yaml
Due: api-test, background-test

terraform templats
  infrastructure/local/main.tf
  infrastructure/local/template/nginx.conf
Due: none

bash scrits
  test/e2e/h2c-request.ps1
  test/e2e/h2c.sh
  test/load/load-test.sh
  test/load/load.ps1
  test/penetration/pen-test.sh
  test/penetration/penetration.ps1
Due: none

bash scrits
  infrastructure/local/template/inventory.ini
  infrastructure/local/template/nginx.conf
  test/e2e/h2c.sh
  test/load/load-test.sh
Due: none

tf
  .gitignore
  infrastructure/.terraform.lock.hcl
  infrastructure/ec2.tf
  infrastructure/local/.terraform.lock.hcl
  infrastructure/local/README.md
  infrastructure/local/main.tf
  infrastructure/main.tf
Due: none

tf
  infrastructure/local/outbound.tf
Due: none

ansible set up
  .gitignore
  infrastructure/ec2.tf
  infrastructure/local/ansible/ansible.cfg
  infrastructure/local/main.tf
  infrastructure/local/outbound.tf
  infrastructure/main.tf
  infrastructure/outbound.tf
Due: none

ansible setup
  .gitignore
  infrastructure/local/README.md
  infrastructure/local/ansible/ansible.cfg
  infrastructure/local/ansible/playbook.yaml
  infrastructure/local/ansible/requirements.yml
  infrastructure/local/main.tf
  infrastructure/local/outbound.tf
Due: none

merge resolve conflict
  infrastructure/local/ansible/playbook.yml
Due: none

asdf
  infrastructure/local/ansible/install-docker.yaml
  infrastructure/local/ansible/install-nginx.yaml
  infrastructure/local/ansible/partition-host.yaml
  infrastructure/local/ansible/playbook.yaml
  infrastructure/local/ansible/start-docker.yaml
Due: none

comments
  infrastructure/ec2.tf
  infrastructure/local/ansible/install-docker.yaml
  infrastructure/local/ansible/install-nginx.yaml
  infrastructure/local/ansible/partition-host.yaml
  infrastructure/local/ansible/start-docker.yaml
  infrastructure/local/main.tf
Due: none

ansible stuffs
  .circleci/config.yaml
  background/Dockerfile
  infrastructure/local/ansible/playbooks/local-build-images.yaml
  infrastructure/local/ansible/playbooks/playbook.yaml
  infrastructure/local/ansible/playbooks/tasks/install-docker.yaml
  infrastructure/local/ansible/playbooks/tasks/install-nginx.yaml
  infrastructure/local/ansible/playbooks/tasks/partition-host.yaml
  infrastructure/local/ansible/playbooks/tasks/start-docker.yaml
  infrastructure/local/template/nginx.conf
Due: none

deploy to ec2
  infrastructure/ec2.tf
  infrastructure/local/ansible/docker-compose.ec2.yaml
  infrastructure/local/ansible/docker-compose.yaml
  infrastructure/local/ansible/playbooks/playbook.yaml
  infrastructure/local/ansible/playbooks/tasks/install-docker.yaml
  infrastructure/local/ansible/playbooks/tasks/install-nginx.yaml
  infrastructure/local/ansible/playbooks/tasks/partition-host.yaml
  infrastructure/local/ansible/playbooks/tasks/start-docker.yaml
  infrastructure/local/compose.yaml
  infrastructure/local/template/nginx.conf
  test/e2e/h2c.sh
Due: none

vibe readme
  README.md
  api/README.md
  background/README.md
  infrastructure/README.md
  infrastructure/local/README.md
  infrastructure/local/template/nginx.conf
  test/README.md
Due: none
